<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% load humanize %}
    {{ form.as_p }}
    <input type="submit" value="Send" />

    <br><br>
    predicted order:
    <br>
    {% for key, value in result_struct.items %}
        {{key}}: <b>{{value | floatformat:2}}</b>
    <br>
    {% endfor %}
    <br>

    differences between next in order images (from the least certain):<br> 
    {% for img1, img2, diff in differences %}
    {{img1}} &nbsp {{img2}} &nbsp {{diff | floatformat:2}}
    <br>
    {% endfor %}
    
</form>