{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Retina scan{% endblock %}</title>
  {% render_bundle 'main' 'css' %}
  {% block extra_head %}
  {% endblock %}
</head>
<body>
  <header>
    <h1>Login</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <a href="{% url 'login' %}">login</a>
    {% endif %}
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>

  {% render_bundle 'main' 'js' %}

  {% block extra_js_before %}
  {% endblock %}
</body>
</html>