{% extends 'page.html' %}

{% load static widget_tweaks %}

{% block content %}
<h1>Examinations</h1>

<div class="table-responsive">
    <table class="table table-striped table-hover examination-list">
        <thead class="thead-inverse">
            <tr>
                <th>Patient</th>
                <th>Description</th>
                <th>Date</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for examination in object_list %}
            <tr>
                <th scope="row">
                    <a href="{% url 'gui:examination-detail' examination.id %}">{{ examination.person }}</a>
                </th>
                <td>{{ examination.description.text }}</td>
                <td>{{ examination.date }}</td>
                <td class="text-center">
                    <div class="btn-group btn-group-sm">
                        <a href="{% url 'gui:examination-delete' examination.id %}" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <th colspan="5">No examinations found.</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{% url 'gui:examination-add' %}" class="btn btn-sm btn-success">
    Add an Examination
</a>
{% endblock %}