{% extends 'page.html' %}

{% load static widget_tweaks %}

{% block content %}
<h1>Examination</h1>

<div class="row patient-detail-column">
    <div class="col-lg-3 pb-3">
        <p class="lead text-center">
            <span class="display-4">{{examination.person}}</span><br>
            Description <span class="text-info">{{description}}</span><br>
            Date <span class="text-info">{{examination.date}}</span><br>
            <a href="{% url 'gui:examination-left-right-eye' examination.id %}"><button class="btn btn-primary mt-2">LeftRightEyeNet</button></a><br>
            <a href="{% url 'gui:examination-sequence-detection' examination.id %}"><button class="btn btn-primary mt-2">SequenceDetectionNet</button></a><br>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-9 cold-md-6 offset-lg-3">
        {% if images_unknown %}
        <h2>Eye: unknown</h2>
        <div class="row text-center">
            {% for image in images_unknown %}
            <div class="col-lg-3 col-md-4">
                <img src="{{image.image.url}}" alt="" class="img-thumbnail mt-3 mb-1" height="300"> 
                <span>{{image.name}}</span><br>
                <button class="btn btn-outline-info mt-1">Change to LEFT</button>
                <button class="btn btn-outline-info mt-1">Change to RIGHT</button>
                <br>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if images_left %}
        <h2 class="mt-2">Eye: left</h2>
        <div class="row text-center">
            {% for image in images_left %}
            <div class="col-lg-3 col-md-4">
                <img src="{{image.image.url}}" alt="" class="img-thumbnail mt-3 mb-1" height="300"> 
                <span>{{image.name}}</span><br>
                <button class="btn btn-outline-info mt-1">Change to RIGHT</button>
                <br>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if images_right %}
        <h2 class="mt-2">Eye: right</h2>
        <div class="row text-center">
            {% for image in images_right %}
            <div class="col-lg-3 col-md-4">
                <img src="{{image.image.url}}" alt="" class="img-thumbnail mt-3 mb-1" height="300"> 
                <span>{{image.name}}</span><br>
                <button class="btn btn-outline-info mt-1">Change to LEFT</button>
                <br>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>  
</div>
{% endblock %}